
<footer class="bg-dark footer text-center text-white mt-4">
    <section class="mb-4">
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
      >🛄</a>

      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
      >📩</a>

      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
      >🪩</a>

      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
      >📸</a>
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
      >🎱</a>
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
      >↔️</a>
    </section>
    <section class="">
      <form action="">
        <div class="row d-flex justify-content-center">
          <div class="col-auto">
            <p class="pt-2">
              <strong>S'inscrire à la newsletter</strong>
            </p>
          </div>
          <div class="col-md-5 col-12">
            <div class="form-outline form-white mb-4">
              <input type="email" id="form5Example21" class="form-control" placeholder=" mon.email@gmail.com " />
            </div>
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-outline-light mb-4">
              s'abonné
            </button>
          </div>
        </div>
      </form>
    </section>
    <section class="mb-4">
      <p>
        Rejoignez la communauté des parieurs. Avec nos outils de
        suivi en temps réel et nos analyses de marché fiables.
      </p>
    </section>
    <section class="">
      <div class="row">
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">À Propos</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Questions</a>
            </li>
            <li>
              <a href="#!" class="text-white">FAQ</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Nous connaitre</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Nos engagements</a>
            </li>
            <li>
              <a href="#!" class="text-white">Notre histoire</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Nous rejoindre</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Communauté</a>
            </li>
            <li>
              <a href="#!" class="text-white">Blog</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Actualité</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Sport</a>
            </li>
            <li>
              <a href="#!" class="text-white">Tranferts</a>
            </li>
          </ul>
        </div>
      </div>
    </section>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">pelOnLine.com</a>
  </div>
</footer>
